body {
    padding: 0;
    margin: 0;
}

#Wrapper {
    background-color: #2d76c8;
    background-image: url(shadow_light.png), url(pixels.png);
    background-position: 0 0, 0 0;
    background-repeat: repeat-x, repeat;
}