<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>about</title>
	<style type="text/css">
		html,body,div,aside,p {
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration: none;
			color: lime;
		}
		body {
			background: wheat;
		}
		h1, .stay {
			margin: 100px 20% 0 25%;
			background: coral;
		}
		.fixed {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 20%;
			height: 500px;
		}
	</style>
</head>
<body>
	<div>
		<h1>about</h1>
		<div class="stay">
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
		</div>
	</div>
	<aside>
		<div class="fixed">
			<hr><hr><hr><hr><hr><hr>

			<p>i will fix here</p>
			<hr><hr><hr><hr><hr><hr>
			<hr><hr><hr><hr><hr><hr>
			<p>be common?</p>
			<hr><hr><hr><hr><hr><hr>
			<p>the right thing</p>
			<hr><hr>
			<a href="/">前往首页</a>
			<a href="article">最新文章</a>
			<hr><hr>

		</div>
	</aside>
</body>
</html>