<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>作品集</title>
	<link rel="icon" type="image" href="/img/david.png">
	<link rel="stylesheet" type="text/css" href="/works.css">
</head>
<body>
	<h1>学习过程中做过的一些练习</h1><br>
	<div class="main">
		<p><a href="/elementfirst">第一个element UI demo</a></p>
		<p><a href="http://hhh.awecg.me/my/show/magicalCanvas.html">魔性正方形</a></p>
		<p><a href="http://hhh.awecg.me/my/show/board/user.html">FCC排名</a></p>
		<p><a href="http://hhh.awecg.me/my/show/2048/">first 2048</a></p>
		<p><a href="http://hhh.awecg.me/my/show/reveal/">用reveal.js用演讲</a></p>

		<!-- <img src="/img/david.png" alt="大卫，打算用它作为页面的ICO"> -->
	</div>
</body>
</html>